*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}
